// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor:#2c1a0a;

// Primary/body text
$mainFont: 'Comfortaa', cursive;
$mainFontSize: 36px;
$mainColor: #f7911e;

// Headings
$headingFont: 'Comfortaa', cursive;
$headingColor: #f7911e;
$headingLineHeight: 0.9em;
$headingLetterSpacing: 0.02em;
$headingTextTransform: inherit;
$headingTextShadow: 0px 0px 6px rgba(0,0,0,0.2);
$heading1TextShadow: $headingTextShadow;

// Links and actions
$linkColor: #ee4036;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #71e9f4;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}